.list-options{

    padding:0px;
    margin:100px 0px 0px 0px;
    list-style:none;
    text-align: center;
}
.list-options li { display: inline; }

.list-options li a {
    padding: 2px 10px;
    display: inline-block; 
    color: rgb(236, 236, 32);
    text-decoration: none;
    font-size: xx-large;
}