ul{
    padding: 8px;
    background-color: #1f1f1f; 
    border-radius: 1.4rem;

}
li{
    list-style-type: none;
    padding: 4px 8px 4px 8px;
    margin: 8px;
    border-radius: 1.4rem;

}
.input-search{
    text-align: center;
}
.input-search input{
    width: 60%;
    background-color: aliceblue;
    padding: 15px;
    height: 30px;
    border-radius: 30px;
    outline: rgb(255, 255, 255);
    color: #323232;
    font-size: x-large;
}
.input-search button{
    color: rgb(236, 236, 32);
    background-color: #323232;
}