@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{

    font-family: 'Bebas Neue', cursive;
    background-color: #242323;
    color: rgb(236, 236, 32);
    letter-spacing: 2px;
    
}
body{
    padding: 32px;
}.icon-primary{
    text-align: center;
}
.img-primary{
    height: 30%;
    width: 30%;
    margin: 8px;
    
}
h1{
    text-align: center;
    margin: 2.4rem;
}

h3{
    color: rgb(236, 236, 32);
}
span{
    color: rgb(36, 36, 141);
}
button{

    background-color: #fff;
    padding: 16px;
    border: none;
    border-radius: 2.4rem; 
    color: #242323;   
}
.options button a{
    text-decoration: none;
    background-color: transparent;
    color: #323232;
}